framework: auto-detect
source https://www.nuget.org/api/v2

nuget Fsharp.Core ~> 4.0.0.1
nuget FAKE
nuget MetadataExtractor
nuget Argu
nuget Nustache

group Dev
    source https://www.nuget.org/api/v2
    nuget ILMerge