type project
authors KFL
licenseUrl https://raw.githubusercontent.com/kflu/picdoc/master/LICENSE
projectUrl https://github.com/kflu/picdoc
tags exif cli markdown
description
    description of this test package
files
    bin/**/* ==> tools/