type project
authors KFL
licenseUrl https://raw.githubusercontent.com/kflu/picdoc/master/LICENSE
projectUrl https://github.com/kflu/picdoc
tags exif cli markdown

files
    bin/**/* ==> tools/

// To minimize download size. There could be another nuget library package
// for people to reference to. Everything needed is already copied to tools/
// folder.
excludeddependencies
    FSharp.Core
    MetadataExtractor
    Argu
    Nustache